/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*
//////////////////  FONT BELOW
*/

@font-face {
    font-family: "calculatorfont";
    src: url("calculatorfont.ttf") format("truetype");
}

/*
//////////////////////////////////////////////////////////////
//////////////////  STYLE STARTS BELOW
//////////////////////////////////////////////////////////////
*/



section{
	border: solid 2px black;
	text-align: center;
	background-color: gray;
	margin: auto auto;
	height: auto;
	width: 350px;
	padding-bottom: 10px;
	border-radius: 15px;
	box-shadow: inset 0px 0px 10px 1px rgba(0,0,0,0.6);

}

#display{
	display: inline-block;
	background-color: rgb(112, 160, 93);
	width:262px;
	height: 60px;
	font-size: 25px;
	text-align: right;
	color: black;
	vertical-align: middle;
	font-family: "calculatorfont";
	font-size: 48px;
	white-space: nowrap;
	overflow-x: hidden;
	overflow-y: hidden;
	line-height:60px;
	box-shadow: inset 2px 8px 8px rgba(0,0,0,0.6);
	margin: 13px 4px 20px 4px;
	padding-top: 5px;
	border: 30px solid black;
}

.key:hover{
	cursor: pointer;
}

.number{
	display: inline-block;
	color: white;
	/*padding: 5px;*/
	background-color: gray;
	/*width:50px;
	height: 50px;*/
	font-size: 20px;
	background-color: gray;
	margin: 0 auto;
	vertical-align: middle;
	font-size: 30px;
	border: 1px solid black;
	/*text-shadow: 1px 0px 0px black;
	border-left: 5px solid gray;
	border-top: 5px solid gray;
	border-right: 5px solid gray;
	border-bottom: 5px solid gray;*/

}

.number:hover , .operator:hover{
	background-color: rgb(198, 198, 183);
	background-image: none;
}



.operator{
	display: inline-block;
	/*//background-color: rgb(109, 255, 216);
	background-color: lightgray;
	background-image: none;
	font-size: 30px;*/

}
.equals{
	display: inline-block;
}
.clear{
	display: inline-block;
}

.row{
	display: block;
	width: auto;
	height: auto;
	margin-bottom:-34px;
	padding:0px;
}

.key{
	color: black;
	/*padding: 5px;*/
	//background-color: gray;
	width:50px;
	height: 50px;
	font-size: 20px;
	background-color: gray;
	margin: 0 auto;
	vertical-align: middle;
	font-size: 35px;
	border: 1px solid black;
	box-sizing: border-box;
}


/*KEYFACE STYLING BELOW*/


.right, .left, .top, .bottom {
  border-color: transparent;
  border-style: solid;
  border-width: 40px;
  display: block;
  padding: 0;
  width: 0;
  height: 0;
}

.right, .left {
  display: inline-block;
  margin: 0;
  vertical-align: middle;
}

.top, .bottom {
  margin: 0 auto;
}

.top {
  border-top-color: rgb(183, 183, 161);

  margin-bottom: -80px;
}

.right {
	transition: 0.5s;
  border-right-color: gray;
  margin-left: -20px;
}

.bottom {
  border-bottom-color: gray;
  margin-top: -80px;
}

.left {
  border-left-color: rgb(183, 183, 161);
  margin-right: -60px;
}


.box:hover > .right {
		transition: 0.3s;
    border-right-color: rgb(183, 183, 161);
    border-left-color: gray;
    border-top-color: gray;
    border-bottom-color: rgb(183, 183, 161);
}


.box {
  background-color: black;

  display: inline-block;
  height:80px;
  width:auto;
  border: 1px solid black;
	margin: -3px;
	margin-bottom: -40px;
	padding-bottom:-40px
}

.keyface{
	box-sizing: border-box;
	position: relative;
  height: 60px;
  width: 60px;
  background-color: rgb(214, 214, 190);
  top:-70px;
  margin-left:0px;
	padding-top:13px;
	border: 1px solid rgb(183, 183, 161);

}

.keyface:hover{
	height:55px;
	width:55px;
	top:-68px;
	margin-bottom:5px;
}


//
